.detbl,.de_caption_tbl
{
direction:ltr; border-spacing:0px;
border-collapse: collapse;
border: 0px none black;
}
.de_list
{
margin: 0;padding: 0;
}
.de_figure
{
margin: 0;padding: 0;width: 100%;text-indent: 0 !important;
}
.de_caption_tbl
{
margin: 0;padding: 0;width: 100%;
}
div.p
{
font-weight:normal;
}

div.p
{
direction: ltr;
text-align: left;
text-indent: 0;
margin-left: 0;
line-height: 1.380;
margin-top: 8pt;
margin-bottom: 8pt;
}
div.description_on_page div.p,
 div.description_on_page div.p a,
 .m-pageContent__side__header div.p,
 .m-pageContent__side__header div.p a,
 .m-pageContent__side__footer div.p,
 .m-pageContent__side__footer div.p a,
 .m-pageContent__side__right div.p,
 .m-pageContent__side__right div.p a,
 .m-pageContent__side__left div.p,
 .m-pageContent__side__left div.p a
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
div.h1
{
direction: ltr;
text-align: left;
text-indent: 0;
margin-left: 0;
line-height: 1.380;
margin-top: 0pt;
margin-bottom: 16pt;
}
h1
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:bold;
display:inline;
margin:0;
padding:0;
}
div.h2
{
direction: ltr;
text-align: left;
text-indent: 0;
margin-left: 0;
line-height: 1.380;
margin-top: 20pt;
margin-bottom: 8pt;
}
h2
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:bold;
display:inline;
margin:0;
padding:0;
}
div.h3
{
direction: ltr;
text-align: left;
text-indent: 0;
margin-left: 0;
line-height: 1.380;
margin-top: 16pt;
margin-bottom: 8pt;
}
h3
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:bold;
display:inline;
margin:0;
padding:0;
}
span.code
{
font-family:"Courier New";
font-size: 12pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:"Georgia";
font-size: 12pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}

@font-face
{
font-family:"Font Awesome 6 Free";
font-style:normal;
font-weight:900;
font-display:block;
src:url("webfonts/fa-solid-900.woff2") format("woff2"), url("webfonts/fa-solid-900.ttf") format("truetype");
}

table.de-text-block
{
border-collapse:separate;
border-spacing:0px;
}

table.de-text-block > tbody > tr > td.de-tb-icon
{
vertical-align:top;
}

table.de-text-block > tbody > tr > td.de-tb-spoiler
{
vertical-align:top;
}

table.de-text-block > tbody > tr > td.de-tb-text
{
vertical-align:top;
width:100%;
}

table.de-text-block > tbody > tr > td.de-tb-icon > span.de-text-block-icon, table.de-text-block > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
display:inline-block;
font-family:"Font Awesome 6 Free";
font-weight:900;
-moz-osx-font-smoothing:grayscale;
-webkit-font-smoothing:antialiased;
font-style:normal;
font-variant:normal;
line-height:1;
text-rendering:auto;
width:1.25em;
text-align:center;
}

table.de-text-block > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
display:none;
}

table.de-text-block-info
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#d9edf7;border-left-style:solid;border-left-width:1px;border-left-color:#bce8f1;border-top-style:solid;border-top-width:1px;border-top-color:#bce8f1;border-right-style:solid;border-right-width:1px;border-right-color:#bce8f1;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#bce8f1;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-info > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-info > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#317096;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-info > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-info > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-info > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}

table.de-text-block-note
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#fafafa;border-left-style:solid;border-left-width:1px;border-left-color:#e6e6e6;border-top-style:solid;border-top-width:1px;border-top-color:#e6e6e6;border-right-style:solid;border-right-width:1px;border-right-color:#e6e6e6;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#e6e6e6;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-note > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-note > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#999999;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-note > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-note > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-note > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}

table.de-text-block-success
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#dff0d8;border-left-style:solid;border-left-width:1px;border-left-color:#d6e9c6;border-top-style:solid;border-top-width:1px;border-top-color:#d6e9c6;border-right-style:solid;border-right-width:1px;border-right-color:#d6e9c6;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#d6e9c6;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-success > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-success > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#3c763d;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-success > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-success > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-success > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}

table.de-text-block-warning
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#fcf8e3;border-left-style:solid;border-left-width:1px;border-left-color:#faebcc;border-top-style:solid;border-top-width:1px;border-top-color:#faebcc;border-right-style:solid;border-right-width:1px;border-right-color:#faebcc;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#faebcc;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#f0ad4e;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}

table.de-text-block-error
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#f2dede;border-left-style:solid;border-left-width:1px;border-left-color:#ebccd1;border-top-style:solid;border-top-width:1px;border-top-color:#ebccd1;border-right-style:solid;border-right-width:1px;border-right-color:#ebccd1;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#ebccd1;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-error > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-error > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#d9534f;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-error > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-error > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-error > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}

table.de-text-block-quote
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#f2f2f2;border-left-style:solid;border-left-width:3px;border-left-color:#c8c8c8;border-top-style:none;border-top-width:1px;border-top-color:#000000;border-right-style:none;border-right-width:1px;border-right-color:#000000;border-bottom-style:none;border-bottom-width:1px;border-bottom-color:#000000;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:none;font-size:24px;color:#000000;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}

table.de-text-block-spoiler
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:transparent;border-left-style:solid;border-left-width:1px;border-left-color:#e6e6e6;border-top-style:solid;border-top-width:1px;border-top-color:#e6e6e6;border-right-style:solid;border-right-width:1px;border-right-color:#e6e6e6;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#e6e6e6;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:none;font-size:24px;color:#000000;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}
div.de_03FDC443AD
{
text-align:left;text-indent:0;margin-left:0;}
div.de_38B3956165
{
text-align:center;}
div.de_6F1BC2B1C0
{
direction:ltr;text-align:left;text-indent:0;margin-left:40px;}
div.de_C54D9B1CE1
{
direction:ltr;text-align:left;text-indent:0;margin-left:0;}
div.de_D8A905EC7A
{
margin-top:0pt;margin-bottom:0pt;}
div.de_D8F749413A
{
direction:ltr;text-align:left;text-indent:0;margin-left:80px;}
div.de_F5E25F2BBC
{
text-align:left;margin-top:0pt;margin-bottom:0pt;}
img.de_78924636B9
{
margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0;}
img.de_F0AFF5680A
{
margin-top: 0; margin-right: 8px; margin-bottom: 8px; margin-left: 8px;}
span.de_585AE78DFF
{
	font-family: "Times New Roman";
	font-size: 14pt;
	color:#000000;
	font-style:italic;
}
span.de_7ECBECEBE5
{
	font-family: "Times New Roman";
	font-size: 12pt;
	color:#000000;
}
span.de_CAB14B116D
{
	font-family: "Times New Roman";
	font-size: 14pt;
	color:#000000;
}
.list-element {
	list-style-type: none;
}
.list-counter-c64437e4-a9cd-432a-ab5d-15e6e77c5f78-0 > div > * {
	text-indent: 0px;}
.list-counter-c64437e4-a9cd-432a-ab5d-15e6e77c5f78-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-c64437e4-a9cd-432a-ab5d-15e6e77c5f78-0, disc) '\00a0';
	counter-increment: list-counter-c64437e4-a9cd-432a-ab5d-15e6e77c5f78-0;
}
.list-counter-c64437e4-a9cd-432a-ab5d-15e6e77c5f78-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-c64437e4-a9cd-432a-ab5d-15e6e77c5f78-1 > div > * {
	text-indent: 0px;}
.list-counter-c64437e4-a9cd-432a-ab5d-15e6e77c5f78-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-c64437e4-a9cd-432a-ab5d-15e6e77c5f78-1, disc) '\00a0';
	counter-increment: list-counter-c64437e4-a9cd-432a-ab5d-15e6e77c5f78-1;
}
.list-counter-c64437e4-a9cd-432a-ab5d-15e6e77c5f78-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-c64437e4-a9cd-432a-ab5d-15e6e77c5f78-2 > div > * {
	text-indent: 0px;}
.list-counter-c64437e4-a9cd-432a-ab5d-15e6e77c5f78-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-c64437e4-a9cd-432a-ab5d-15e6e77c5f78-2, disc) '\00a0';
	counter-increment: list-counter-c64437e4-a9cd-432a-ab5d-15e6e77c5f78-2;
}
.list-counter-c64437e4-a9cd-432a-ab5d-15e6e77c5f78-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-ab631495-0ed8-4e36-a74c-dd4a7dd0561d-0 > div > * {
	text-indent: 0px;}
.list-counter-ab631495-0ed8-4e36-a74c-dd4a7dd0561d-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-ab631495-0ed8-4e36-a74c-dd4a7dd0561d-0, disc) '\00a0';
	counter-increment: list-counter-ab631495-0ed8-4e36-a74c-dd4a7dd0561d-0;
}
.list-counter-ab631495-0ed8-4e36-a74c-dd4a7dd0561d-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-ab631495-0ed8-4e36-a74c-dd4a7dd0561d-1 > div > * {
	text-indent: 0px;}
.list-counter-ab631495-0ed8-4e36-a74c-dd4a7dd0561d-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-ab631495-0ed8-4e36-a74c-dd4a7dd0561d-1, disc) '\00a0';
	counter-increment: list-counter-ab631495-0ed8-4e36-a74c-dd4a7dd0561d-1;
}
.list-counter-ab631495-0ed8-4e36-a74c-dd4a7dd0561d-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-da32d1b9-abf6-44a3-8ac4-55c12845f15a-0 > div > * {
	text-indent: 0px;}
.list-counter-da32d1b9-abf6-44a3-8ac4-55c12845f15a-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-da32d1b9-abf6-44a3-8ac4-55c12845f15a-0, disc) '\00a0';
	counter-increment: list-counter-da32d1b9-abf6-44a3-8ac4-55c12845f15a-0;
}
.list-counter-da32d1b9-abf6-44a3-8ac4-55c12845f15a-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-da32d1b9-abf6-44a3-8ac4-55c12845f15a-1 > div > * {
	text-indent: 0px;}
.list-counter-da32d1b9-abf6-44a3-8ac4-55c12845f15a-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-da32d1b9-abf6-44a3-8ac4-55c12845f15a-1, disc) '\00a0';
	counter-increment: list-counter-da32d1b9-abf6-44a3-8ac4-55c12845f15a-1;
}
.list-counter-da32d1b9-abf6-44a3-8ac4-55c12845f15a-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-32a92a1d-6bbd-4a3f-89dc-f3017ed49bc6-0 > div > * {
	text-indent: 0px;}
.list-counter-32a92a1d-6bbd-4a3f-89dc-f3017ed49bc6-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-32a92a1d-6bbd-4a3f-89dc-f3017ed49bc6-0, disc) '\00a0';
	counter-increment: list-counter-32a92a1d-6bbd-4a3f-89dc-f3017ed49bc6-0;
}
.list-counter-32a92a1d-6bbd-4a3f-89dc-f3017ed49bc6-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-32a92a1d-6bbd-4a3f-89dc-f3017ed49bc6-1 > div > * {
	text-indent: 0px;}
.list-counter-32a92a1d-6bbd-4a3f-89dc-f3017ed49bc6-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-32a92a1d-6bbd-4a3f-89dc-f3017ed49bc6-1, disc) '\00a0';
	counter-increment: list-counter-32a92a1d-6bbd-4a3f-89dc-f3017ed49bc6-1;
}
.list-counter-32a92a1d-6bbd-4a3f-89dc-f3017ed49bc6-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-32a92a1d-6bbd-4a3f-89dc-f3017ed49bc6-2 > div > * {
	text-indent: 0px;}
.list-counter-32a92a1d-6bbd-4a3f-89dc-f3017ed49bc6-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-32a92a1d-6bbd-4a3f-89dc-f3017ed49bc6-2, disc) '\00a0';
	counter-increment: list-counter-32a92a1d-6bbd-4a3f-89dc-f3017ed49bc6-2;
}
.list-counter-32a92a1d-6bbd-4a3f-89dc-f3017ed49bc6-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-0 > div > * {
	text-indent: 0px;}
.list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-0, disc) '\00a0';
	counter-increment: list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-0;
}
.list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-1 > div > * {
	text-indent: 0px;}
.list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-1, disc) '\00a0';
	counter-increment: list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-1;
}
.list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-2 > div > * {
	text-indent: 0px;}
.list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-2, disc) '\00a0';
	counter-increment: list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-2;
}
.list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-3 > div > * {
	text-indent: 0px;}
.list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-3 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-3, disc) '\00a0';
	counter-increment: list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-3;
}
.list-counter-4fcca3f2-349b-4be4-b6ac-16dc4fb24c0c-3 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-61b45902-a65b-4209-a476-6b42642d9b93-0 > div > * {
	text-indent: 0px;}
.list-counter-61b45902-a65b-4209-a476-6b42642d9b93-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-61b45902-a65b-4209-a476-6b42642d9b93-0, disc) '\00a0';
	counter-increment: list-counter-61b45902-a65b-4209-a476-6b42642d9b93-0;
}
.list-counter-61b45902-a65b-4209-a476-6b42642d9b93-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-61b45902-a65b-4209-a476-6b42642d9b93-1 > div > * {
	text-indent: 0px;}
.list-counter-61b45902-a65b-4209-a476-6b42642d9b93-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-61b45902-a65b-4209-a476-6b42642d9b93-1, disc) '\00a0';
	counter-increment: list-counter-61b45902-a65b-4209-a476-6b42642d9b93-1;
}
.list-counter-61b45902-a65b-4209-a476-6b42642d9b93-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-61b45902-a65b-4209-a476-6b42642d9b93-2 > div > * {
	text-indent: 0px;}
.list-counter-61b45902-a65b-4209-a476-6b42642d9b93-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-61b45902-a65b-4209-a476-6b42642d9b93-2, disc) '\00a0';
	counter-increment: list-counter-61b45902-a65b-4209-a476-6b42642d9b93-2;
}
.list-counter-61b45902-a65b-4209-a476-6b42642d9b93-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-61b45902-a65b-4209-a476-6b42642d9b93-3 > div > * {
	text-indent: 0px;}
.list-counter-61b45902-a65b-4209-a476-6b42642d9b93-3 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-61b45902-a65b-4209-a476-6b42642d9b93-3, disc) '\00a0';
	counter-increment: list-counter-61b45902-a65b-4209-a476-6b42642d9b93-3;
}
.list-counter-61b45902-a65b-4209-a476-6b42642d9b93-3 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-61b45902-a65b-4209-a476-6b42642d9b93-4 > div > * {
	text-indent: 0px;}
.list-counter-61b45902-a65b-4209-a476-6b42642d9b93-4 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-61b45902-a65b-4209-a476-6b42642d9b93-4, disc) '\00a0';
	counter-increment: list-counter-61b45902-a65b-4209-a476-6b42642d9b93-4;
}
.list-counter-61b45902-a65b-4209-a476-6b42642d9b93-4 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-366b1a93-b41b-4b95-8558-876febdba496-0 > div > * {
	text-indent: 0px;}
.list-counter-366b1a93-b41b-4b95-8558-876febdba496-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-366b1a93-b41b-4b95-8558-876febdba496-0, disc) '\00a0';
	counter-increment: list-counter-366b1a93-b41b-4b95-8558-876febdba496-0;
}
.list-counter-366b1a93-b41b-4b95-8558-876febdba496-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-366b1a93-b41b-4b95-8558-876febdba496-1 > div > * {
	text-indent: 0px;}
.list-counter-366b1a93-b41b-4b95-8558-876febdba496-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-366b1a93-b41b-4b95-8558-876febdba496-1, disc) '\00a0';
	counter-increment: list-counter-366b1a93-b41b-4b95-8558-876febdba496-1;
}
.list-counter-366b1a93-b41b-4b95-8558-876febdba496-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-366b1a93-b41b-4b95-8558-876febdba496-2 > div > * {
	text-indent: 0px;}
.list-counter-366b1a93-b41b-4b95-8558-876febdba496-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-366b1a93-b41b-4b95-8558-876febdba496-2, disc) '\00a0';
	counter-increment: list-counter-366b1a93-b41b-4b95-8558-876febdba496-2;
}
.list-counter-366b1a93-b41b-4b95-8558-876febdba496-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-366b1a93-b41b-4b95-8558-876febdba496-3 > div > * {
	text-indent: 0px;}
.list-counter-366b1a93-b41b-4b95-8558-876febdba496-3 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-366b1a93-b41b-4b95-8558-876febdba496-3, disc) '\00a0';
	counter-increment: list-counter-366b1a93-b41b-4b95-8558-876febdba496-3;
}
.list-counter-366b1a93-b41b-4b95-8558-876febdba496-3 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-366b1a93-b41b-4b95-8558-876febdba496-4 > div > * {
	text-indent: 0px;}
.list-counter-366b1a93-b41b-4b95-8558-876febdba496-4 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-366b1a93-b41b-4b95-8558-876febdba496-4, disc) '\00a0';
	counter-increment: list-counter-366b1a93-b41b-4b95-8558-876febdba496-4;
}
.list-counter-366b1a93-b41b-4b95-8558-876febdba496-4 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-0 > div > * {
	text-indent: 0px;}
.list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-0, disc) '\00a0';
	counter-increment: list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-0;
}
.list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-1 > div > * {
	text-indent: 0px;}
.list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-1, disc) '\00a0';
	counter-increment: list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-1;
}
.list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-2 > div > * {
	text-indent: 0px;}
.list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-2, disc) '\00a0';
	counter-increment: list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-2;
}
.list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-3 > div > * {
	text-indent: 0px;}
.list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-3 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-3, disc) '\00a0';
	counter-increment: list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-3;
}
.list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-3 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-4 > div > * {
	text-indent: 0px;}
.list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-4 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-4, disc) '\00a0';
	counter-increment: list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-4;
}
.list-counter-1521f84e-ccb0-4c3a-bccb-cd3e2e784d86-4 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-0bc03d55-70e3-4aaf-802d-fe68972e1795-0 > div > * {
	text-indent: 0px;}
.list-counter-0bc03d55-70e3-4aaf-802d-fe68972e1795-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0bc03d55-70e3-4aaf-802d-fe68972e1795-0, disc) '\00a0';
	counter-increment: list-counter-0bc03d55-70e3-4aaf-802d-fe68972e1795-0;
}
.list-counter-0bc03d55-70e3-4aaf-802d-fe68972e1795-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-0bc03d55-70e3-4aaf-802d-fe68972e1795-1 > div > * {
	text-indent: 0px;}
.list-counter-0bc03d55-70e3-4aaf-802d-fe68972e1795-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0bc03d55-70e3-4aaf-802d-fe68972e1795-1, disc) '\00a0';
	counter-increment: list-counter-0bc03d55-70e3-4aaf-802d-fe68972e1795-1;
}
.list-counter-0bc03d55-70e3-4aaf-802d-fe68972e1795-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-0bc03d55-70e3-4aaf-802d-fe68972e1795-2 > div > * {
	text-indent: 0px;}
.list-counter-0bc03d55-70e3-4aaf-802d-fe68972e1795-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0bc03d55-70e3-4aaf-802d-fe68972e1795-2, disc) '\00a0';
	counter-increment: list-counter-0bc03d55-70e3-4aaf-802d-fe68972e1795-2;
}
.list-counter-0bc03d55-70e3-4aaf-802d-fe68972e1795-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
